
    img {
      /*width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      
      cursor: pointer;
      position: absolute;*/
    }

    #horoscope-text-holder {
      /*position: absolute;*/
    }

    #horoscope-container p, #collapsible-horoscope-container h3 {
      color: black;
      font-family: 'Roboto Mono', monospace;
      
    }

    #horoscope-container p {
      /*font-size: 2em;*/
      font-size: 1em;
    }

    #collapsible-horoscope-container h3 {
      font-size: 1.5em;
      /*font-size: 100%;*/
      
      margin: 5% auto 0%;
      width: 80%;
    }
/*
    h1 {
      text-align: center;
      height: fit-content;
    }
*/
/*
    h2 {
      font-size: 1.5em;
    }
    */
/*
    body {
      font-family: 'Roboto Mono', monospace;
      letter-spacing: 5px;
    }
*/
    #horoscope-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /*text-align: center;*/
      width: 80%;
      /*margin: auto;*/
      position: relative;
      /*margin-top: 300px;
      margin-top: 20%;*/
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
    }
  
    #horoscope-container img {
      /*position:absolute;*/
      left:0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;

      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      
      cursor: pointer;
      
      
    }
    /*
    #container img:hover {
      opacity:0;
    }
    */

    @media screen and (min-width: 1300px) {
      #collapsible-horoscope-container h3 {
          font-size: 2.5em;
      }
  
      #collapsible-horoscope-container p {
          font-size: 2em;
      }
      
  }

  @media screen and (min-width: 992px) and (max-width: 1300px) {
    #collapsible-horoscope-container h3 {
      font-size: 2em;
  }

  #collapsible-horoscope-container p {
      font-size: 1.3em;
  }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #collapsible-horoscope-container h3 {
    font-size: 1em;
}

#collapsible-horoscope-container p {
    font-size: 0.76em;
}

}

@media screen and (max-width: 576px) {

  #collapsible-horoscope-container {
    height: 80vh;
  }


  #collapsible-horoscope-container h3 {
    font-size: 1.2em;
}

#collapsible-horoscope-container p {
    font-size: 1em;
}

}